
/* UTILITY CLASS */
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.8rem;
}
.p_normal{
    font-size: 1.2rem;
}

.p_medium{
    font-size: 1rem;
}
.p_small{
    font-size: 0.8rem;
}
.color_white{
    color: white;
}
.color_white2{
    color:#F2F7FF;
}
.color_lightgrey{
    color:#B3C6FE;
}
.color_lightblue{
    color: #026BFF;
}
.color_darkblue{
    color:#031C4E;
}
.color_signin{
    color: #283D68;
}
.color_darkgrey{
    color: #6C6C6C;
    }
.color_silver{
    color:#5C6A88;
}
.color_silver2{
    color: #7B859F;
}
.color_aqua-green{
    color:#009EC7;
}
.bc_lightblue2{
    background-color: #579AFF;
}
.bc_darkblue{
    background-color: #031C4E;
}
.bc_white{
    background-color: white;
}
.bc_grey{
    background-color: #f3f5f9;
}
.dec-none{
    text-decoration: none;
}
.line-height1_7{
    line-height: 1.7rem;
}
.line-height1_2{
    line-height: 1.2rem;
}

/* HEADER > NAV  */
nav{
    width: 100%;
}

#nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo_bar> img{
    width:130px;
}

nav li{
    color: #0B2354;
    font-size: 0.9rem;
}
nav i{
    padding-left: 3px;
    font-size: 0.9rem;
    align-self: flex-end;
    color: #0B2354;
}

nav a{
    color:#1B7BFF;
    font-size: 0.9rem;
}

nav .central_bar ul>li:nth-of-type(2){
    padding: 0 20px;
    }
nav .central_bar ul>li:last-of-type{
    padding-left:10px;
    }

nav .right_bar ul>li:nth-of-type(2), nav .right_bar ul>li:nth-of-type(3), nav .right_bar ul>li:last-of-type {
    padding-left: 20px;
}
nav .right_bar ul>li:last-of-type{
    padding-right: 10px;
}
nav li>a{
    padding:5px;
    border: 1px solid #74AEFF;
    border-radius:5px;
    
}




/* HEADER Jumbotron  */
.jumbotron{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #004AFF;
    padding:5rem 0;
    background-image: url('../img/bg-banner-home.jpg');
    background-size: cover;
    background-position-x: 25%;
}

#jumbo_container{
    display: flex;  
}

.left_jumbo{
    flex-basis:60%;
    padding-right: 3rem;
    padding-top:0.5rem;

}
.right_jumbo{
    flex-basis: 40%;
    background-color: white;
    border-radius: 5px;
    padding:1.5rem 0.8rem;
    text-align: center;  
}
.right_jumbo h3{
    padding:0.1rem 0;
}
.right_jumbo input,.right_jumbo a.link_google{
    width: 100%;
    height: 30px;
   
}
.right_jumbo input{
    margin:0.4rem 0;
    padding:0 0.3rem;
    border: 1px solid #F5F5F5;

}
  [type="submit"]{
    vertical-align: middle;
}

.right_jumbo a.link_google{
    border: 1px solid #F5F5F5;
    box-shadow: 1.5px 1px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.right_jumbo img{
    max-width: 21px;
    position:absolute;
    left: 10px;
}

.right_jumbo p{
    padding-top: 0.8rem;
    font-weight: bold;
}

/* ---------- MAIN -------- */

    /* SECTION ONE  */
section.s_one{
    width: 100%;
    Display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#s_one-container{
    display: flex;
    flex-direction: column;
}

.hide-photos-xs{
    display: block;
}

.hide-photos-lg-md{
    display: none;
}


.s_one div.silver-title{
    padding-top: 2.5rem;
    text-align: center;
   
}

.s_one div.photos{
    padding:2rem 0 1.5rem 0;
    
}

.s_one div.photos li{
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
}


.s_one div.photos img{
    width: 100%;
    padding-right: 2rem;
}

.s_one .stories{
    padding-bottom: 2rem;
    text-align: center;  
}
.s_one .stories span{
    padding-left: 5px;
}

.full-flex{
    flex-basis: 100%;
}
    /* /SECTION ONE  */

    /* SECTION TWO  */
  
    .s_two .emoticon{
       width: 100%;
       height: 35px;
       
    }
    .s_two .emoticon img{
        height: 100%;
    }
    
  
    
    .s_two .side-bar ul {
        list-style: none;
        margin-left: 3rem;
        padding-left: 1rem;
        border-left:2px solid #D2D2D2;
    }
   
    /* /SECTION TWO  */
        /* SECTION THREE */
 

    .s_three .designed{
        width: 100%;
    }
    
    .s_three .samples{
        width: 50%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .s_three.photo-sample{
        width: 100%;
    }

    .s_three .photo-sample img{
        width: 100%;
        height: 100%;
    }
    .s_three .samples p {
        width: 100%;
        padding-bottom: 1rem;
    }

    span.circle{
        margin-right: 5px;
        height: 10px;
        width: 10px;
        border:1px solid #026BFF;
        border-radius: 50%;
        display: inline-block;
        
    }
    span.circle:first-of-type{
        background-color: #026BFF;
    }


    .container{
        position:relative;
    }

   div.angle i{ 
        font-size: 4rem;
    }
    div.angle.left i{
        position: absolute;
        left: 18%;
        top: 55%;    
        color:#6F7B97;
        align-self: center;
    }
    div.angle.right i{
        position: absolute;
        right: 18%;
        top: 55%;   
        color:#031C4E;
    }
        
        /* /SECTION THREE */
    
        /* SECTION FOUR  */
        
        .s_four .features{
            width: 100%;
        }

        .s_four .flex-container{
            display: flex;
            flex-wrap: wrap;
        }
        .flex-container .square{
            width: calc((100%/3) - (6rem/3));
            margin-top:1rem;
            padding-right: 2rem;
        }
        /* /SECTION FOUR  */

        /* SECTION FIVE  */

        .s_five{
            background-color: #003CBA;
        }
        .service-customers{
            width: 100%;
            
        }

        .s_five .flex-container{
            display: flex;
            flex-wrap: wrap;
        }

        .tests{
            width: calc(50% - 4rem/2);
            display: flex;
            /* justify-content: space-between; */
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid white;
            padding:0.5rem;
            margin-right: 2rem;

        }


        .tests h5{
            flex-basis: 25%;
        }
        .tests p{
            flex-basis: 55%;
        }

        .tests .a{
            flex-basis: 30%;
        }

        .tests:last-of-type{
            border-bottom: none;
        }

        .tests:nth-of-type(11){
            border-bottom: none;
        }

    /* 6° SECTION  */

    .s_six .dev-text{
        width: 100%;
    }

    .s_six .samples{
        
        width: 50%;
        margin: auto;
        
    }
    .s_six .photo-square{
        width: 100%;
    }
    .s_six .photo-square img{
        width: 60%;
    }



    .s_six .samples p {
        width: 100%;
     
    }

    .s_six span.circle{
        margin-right: 1px;
        height: 10px;
        width: 10px;
        border:1px solid #026BFF;
        border-radius: 50%;
        display: inline-block;
        
    }
    .s_six span.circle:first-of-type{
        background-color: #026BFF;
    }


    .s_six .container{
        position:relative;
    }

    .s_six div.angle i{ 
        font-size: 4rem;
    }
    .s_six div.angle.left i{
        position: absolute;
        left: 18%;
        top: 50%;    
        color:#6F7B97;
        align-self: center;
    }
    .s_six div.angle.right i{
        position: absolute;
        right: 18%;
        top: 50%;   
        color:#031C4E;
    }
        
    p.firma{
        font-weight: bold;
    }

/* 7° SECTION  */

.s_seven{
    background-color: #003BB5;
}

.s_seven a.crea-account{
    padding:0.5rem;
    background-color: white;
    border-radius: 10px;
}

        /* FOOTER  */

    footer .flex-container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    footer .copyright{
        flex-basis: 30%;
    }

    footer .info-link{
        flex-basis: 15%;
    }
    .info-link ul{
        list-style: none;
    }


    .info-link ul>li>a{
        color:#99A2B4;
        font-size: 0.8rem;
        line-height: 1.3rem;
    }




/* MEDIA QUERY  */
@media all and (min-width:1000px){
    nav .lg-hide{
        display: none;
    }
      /* MAIN 2°SECTION  */
        
    .main-bar{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .square{
        width: 50%;
    }


}

@media all and (min-width:768px) and (max-width:999px){

    h2{
        font-size: 2.2rem;
    }
    .p_medium{
        font-size: 1.2rem;
    }
     
    .p-md-bottom8{
        padding-bottom: 8rem;
    }
    .container{
        margin:0 2rem;
        
    }
    nav i{
        color:#3a8aff;
        font-size: 1rem;
        padding-right: 1rem;
        
    }
    
    .logo_bar>img{
        width:150px;
      
    }
    nav .lg-hide{
        display: block;
    }

    .md-hide{
        display: none;
    }

    .xs-hide{
        display: none;
    }


    /* HEADER Jumbotron  */
    .left_jumbo{
        flex-basis:65%;
        padding-right: 1rem;
    }
    .right_jumbo{
        flex-basis: 35%;
        padding:1.5rem;
        
    }
  
    h3{
        font-size: 1.8rem;
    }
        /* MAIN  */

   
    /* MAIN 2°SECTION  */
    
    .main-bar{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .square{
        width: 50%;
    }
    .s_two .emoticon{
        width: 100%;
        height: 40px;
        
     }

    /* 3° SECTION  */
    .s_three .samples p{
        padding-bottom:4rem;
    }
    /* 5° SECTION  */
    .tests{
        width: 100%;
        margin-right: 0;
    }
    .tests:last-of-type{
        border-bottom: none;
    }

    .tests h5{
        flex-basis: 20%;
    }
    .tests p{
        flex-basis: 65%;
    }

    .tests .a{
        flex-basis: 15%;
    }

    .tests:nth-of-type(6){
        border-bottom: none;
        padding-bottom: 2rem;
    }
    .tests:nth-of-type(11){
        border-bottom: 1px solid white;
    }
    /* 6° SECTION  */
    .s_six .photo-square img{
        width: 90%;
    }

    /* FOOTER  */
    footer .flex-container{
        flex-wrap: wrap;
    }
    footer .copyright{
        flex-basis: 100%;
    }

    footer .info-link{
        flex-basis: 50%;
    }
    
}

@media all and (max-width:767px){

    /* GENERAL RULES  */
    .container{
        margin:0 1.3rem;
        min-width:350px;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.9rem;
    }
    .p_normal{
        font-size: 1.5rem;
    }
    .p_medium{
        font-size: 1.25rem;
    }
    .p_small{
        font-size: 1rem;
    }
    .p-xs-bottom6{
        padding-bottom:6rem;
    }
    .p-xs-bottom10{
        padding-bottom:10rem;
    }
    .angle-xs-hide{
        display: none;
    }
    /* NAV RULES  */
    nav i{
        color:#3a8aff;
        font-size: 1.1rem;
        padding-right: 1rem;
    }
    .logo_bar>img{
        width: 170px;
    }
    .lg-hide{
        display: block;
    }

    .md-hide{
        display: none;
    }

   .xs-hide{
        display: none;
    }
   

   /* JUMBOTRON  */
   .jumbotron>.container{
       flex-wrap: wrap;
    
   }
    .left_jumbo{
        flex-basis:100%;
        padding-right: 0;
        
    }
    .right_jumbo{
        flex-basis: 100%;
        margin-top: 0.8rem;
        padding-top: 2.3rem;
    }
      /* MAIN  */

      .hide-photos-xs{
          display: none;
      }

      .hide-photos-lg-md{
          display: block;   
        }
        
       .s_one div.photos{
        padding:2rem 0 0 0;
            
        }
    
    .hide-photos-lg-md ul>li{
         width: 100%;  
    }
    .hide-photos-lg-md ul>li img{
        height: 100%;
        width: 60%;
        position: relative;
        left:21%;  
    }

    /* ----MAIN 2°SECTION--- */
 
    .s_two .side-bar ul{
        margin-left: 0;
    }

    .s_two .main-bar{
        padding-top:1.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
   
      .main-bar{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .square{
        width: 100%;
        padding-top:1rem
    }
    .m-top2{
        margin-top:0;
    }
    .s_two .emoticon{
        width: 100%;
        height: 45px;
        
     }
    /* 3° SECTION  */
    .s_three .samples p{
        padding-bottom:6rem;
    }

    /* 4° SECTION  */
    .flex-container .square{
        width: 100%;
        margin-top:1rem;
    }
    /* 5° SECTION  */
    .tests{
        width: 100%;
        margin-right: 0;
    }
    .tests:last-of-type{
        border-bottom: none;
    }

    .tests h5{
        flex-basis: 20%;
    }
    .tests p{
        flex-basis: 60%;
    }

    .tests h5{
        flex-basis: 20%;
    }
    .tests:nth-of-type(6){
        border-bottom: none;
        padding-bottom: 2rem;
    }
    .tests:nth-of-type(11){
        border-bottom: 1px solid white;
    }

     /* 6° SECTION  */
     .s_six .photo-square img{
        width: 100%;
    }

    
 /* FOOTER  */
    footer .flex-container{
        flex-wrap: wrap;
    }
    footer .copyright{
        flex-basis: 100%;
    }

    footer .info-link{
        flex-basis: 100%;
    }

        


}


